# html dosyasından veri çekme

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
# NASA'nın gezegen veri sayfası
url = "https://nssdc.gsfc.nasa.gov/planetary/factsheet/"

tablo = pd.read_html(url)
tablo

[                               0        1        2      3       4      5   \
 0                             NaN  MERCURY    VENUS  EARTH    MOON   MARS
 1                   Mass (1024kg)    0.330     4.87   5.97   0.073  0.642
 2                   Diameter (km)     4879    12104  12756    3475   6792
 3                 Density (kg/m3)     5429     5243   5514    3340   3934
 4                  Gravity (m/s2)      3.7      8.9    9.8     1.6    3.7
 5          Escape Velocity (km/s)      4.3     10.4   11.2     2.4    5.0
 6         Rotation Period (hours)   1407.6  -5832.5   23.9   655.7   24.6
 7           Length of Day (hours)   4222.6   2802.0   24.0   708.7   24.7
 8      Distance from Sun (106 km)     57.9    108.2  149.6  0.384*  228.0
 9             Perihelion (106 km)     46.0    107.5  147.1  0.363*  206.7
 10              Aphelion (106 km)     69.8    108.9  152.1  0.406*  249.3
 11          Orbital Period (days)     88.0    224.7  365.2   27.3*  687.0
 12        Orbital Velocity (km/s)     47.4     35.0   29.8    1.0*   24.1
 13  Orbital Inclination (degrees)      7.0      3.4    0.0     5.1    1.8
 14           Orbital Eccentricity    0.206    0.007  0.017   0.055  0.094
 15   Obliquity to Orbit (degrees)    0.034    177.4   23.4     6.7   25.2
 16           Mean Temperature (C)      167      464     15     -20    -65
 17        Surface Pressure (bars)        0       92      1       0   0.01
 18                Number of Moons        0        0      1       0      2
 19                   Ring System?       No       No     No      No     No
 20         Global Magnetic Field?      Yes       No    Yes      No     No
 21                            NaN  MERCURY    VENUS  EARTH    MOON   MARS

           6         7         8         9        10
 0    JUPITER    SATURN    URANUS   NEPTUNE    PLUTO
 1       1898       568      86.8       102   0.0130
 2     142984    120536     51118     49528     2376
 3       1326       687      1270      1638     1850
 4       23.1       9.0       8.7      11.0      0.7
 5       59.5      35.5      21.3      23.5      1.3
 6        9.9      10.7     -17.2      16.1   -153.3
 7        9.9      10.7      17.2      16.1    153.3
 8      778.5    1432.0    2867.0    4515.0   5906.4
 9      740.6    1357.6    2732.7    4471.1   4436.8
 10     816.4    1506.5    3001.4    4558.9   7375.9
 11      4331     10747     30589     59800    90560
 12      13.1       9.7       6.8       5.4      4.7
 13       1.3       2.5       0.8       1.8     17.2
 14     0.049     0.052     0.047     0.010    0.244
 15       3.1      26.7      97.8      28.3    119.5
 16      -110      -140      -195      -200     -225
 17  Unknown*  Unknown*  Unknown*  Unknown*  0.00001
 18        95       274        28        16        5
 19       Yes       Yes       Yes       Yes       No
 20       Yes       Yes       Yes       Yes  Unknown
 21   JUPITER    SATURN    URANUS   NEPTUNE    PLUTO  ]

In [25]:
df = tablo[0]
df.head()

,0,1,2,3,4,5,6,7,8,9,10
0,NaN,MERCURY,VENUS,EARTH,MOON,MARS,JUPITER,SATURN,URANUS,NEPTUNE,PLUTO
1,Mass (1024kg),0.330,4.87,5.97,0.073,0.642,1898,568,86.8,102,0.0130
2,Diameter (km),4879,12104,12756,3475,6792,142984,120536,51118,49528,2376
3,Density (kg/m3),5429,5243,5514,3340,3934,1326,687,1270,1638,1850
4,Gravity (m/s2),3.7,8.9,9.8,1.6,3.7,23.1,9.0,8.7,11.0,0.7

In [29]:
# İlk sütundaki gezegenlere (ilk elemanlara) ulaşmak ve dataframe'i dönüştürmek
df_transposed = df.set_index(df.columns[0]).T

# Sonuçları yazdırma
df_transposed

,NaN,Mass (1024kg),Diameter (km),Density (kg/m3),Gravity (m/s2),Escape Velocity (km/s),Rotation Period (hours),Length of Day (hours),Distance from Sun (106 km),Perihelion (106 km),...,Orbital Velocity (km/s),Orbital Inclination (degrees),Orbital Eccentricity,Obliquity to Orbit (degrees),Mean Temperature (C),Surface Pressure (bars),Number of Moons,Ring System?,Global Magnetic Field?,NaN
1,MERCURY,0.330,4879,5429,3.7,4.3,1407.6,4222.6,57.9,46.0,...,47.4,7.0,0.206,0.034,167,0,0,No,Yes,MERCURY
2,VENUS,4.87,12104,5243,8.9,10.4,-5832.5,2802.0,108.2,107.5,...,35.0,3.4,0.007,177.4,464,92,0,No,No,VENUS
3,EARTH,5.97,12756,5514,9.8,11.2,23.9,24.0,149.6,147.1,...,29.8,0.0,0.017,23.4,15,1,1,No,Yes,EARTH
4,MOON,0.073,3475,3340,1.6,2.4,655.7,708.7,0.384*,0.363*,...,1.0*,5.1,0.055,6.7,-20,0,0,No,No,MOON
5,MARS,0.642,6792,3934,3.7,5.0,24.6,24.7,228.0,206.7,...,24.1,1.8,0.094,25.2,-65,0.01,2,No,No,MARS
6,JUPITER,1898,142984,1326,23.1,59.5,9.9,9.9,778.5,740.6,...,13.1,1.3,0.049,3.1,-110,Unknown*,95,Yes,Yes,JUPITER
7,SATURN,568,120536,687,9.0,35.5,10.7,10.7,1432.0,1357.6,...,9.7,2.5,0.052,26.7,-140,Unknown*,274,Yes,Yes,SATURN
8,URANUS,86.8,51118,1270,8.7,21.3,-17.2,17.2,2867.0,2732.7,...,6.8,0.8,0.047,97.8,-195,Unknown*,28,Yes,Yes,URANUS
9,NEPTUNE,102,49528,1638,11.0,23.5,16.1,16.1,4515.0,4471.1,...,5.4,1.8,0.010,28.3,-200,Unknown*,16,Yes,Yes,NEPTUNE
10,PLUTO,0.0130,2376,1850,0.7,1.3,-153.3,153.3,5906.4,4436.8,...,4.7,17.2,0.244,119.5,-225,0.00001,5,No,Unknown,PLUTO

In [19]:
# İlk sütunu gezegen isimlerini koruyarak silmek
df_transposed_cleaned = df_transposed.drop(columns=df_transposed.columns[0])

# Sonuçları yazdırma
df_transposed_cleaned

,Mass (1024kg),Diameter (km),Density (kg/m3),Gravity (m/s2),Escape Velocity (km/s),Rotation Period (hours),Length of Day (hours),Distance from Sun (106 km),Perihelion (106 km),Aphelion (106 km),Orbital Period (days),Orbital Velocity (km/s),Orbital Inclination (degrees),Orbital Eccentricity,Obliquity to Orbit (degrees),Mean Temperature (C),Surface Pressure (bars),Number of Moons,Ring System?,Global Magnetic Field?
1,0.330,4879,5429,3.7,4.3,1407.6,4222.6,57.9,46.0,69.8,88.0,47.4,7.0,0.206,0.034,167,0,0,No,Yes
2,4.87,12104,5243,8.9,10.4,-5832.5,2802.0,108.2,107.5,108.9,224.7,35.0,3.4,0.007,177.4,464,92,0,No,No
3,5.97,12756,5514,9.8,11.2,23.9,24.0,149.6,147.1,152.1,365.2,29.8,0.0,0.017,23.4,15,1,1,No,Yes
4,0.073,3475,3340,1.6,2.4,655.7,708.7,0.384*,0.363*,0.406*,27.3*,1.0*,5.1,0.055,6.7,-20,0,0,No,No
5,0.642,6792,3934,3.7,5.0,24.6,24.7,228.0,206.7,249.3,687.0,24.1,1.8,0.094,25.2,-65,0.01,2,No,No
6,1898,142984,1326,23.1,59.5,9.9,9.9,778.5,740.6,816.4,4331,13.1,1.3,0.049,3.1,-110,Unknown*,95,Yes,Yes
7,568,120536,687,9.0,35.5,10.7,10.7,1432.0,1357.6,1506.5,10747,9.7,2.5,0.052,26.7,-140,Unknown*,274,Yes,Yes
8,86.8,51118,1270,8.7,21.3,-17.2,17.2,2867.0,2732.7,3001.4,30589,6.8,0.8,0.047,97.8,-195,Unknown*,28,Yes,Yes
9,102,49528,1638,11.0,23.5,16.1,16.1,4515.0,4471.1,4558.9,59800,5.4,1.8,0.010,28.3,-200,Unknown*,16,Yes,Yes
10,0.0130,2376,1850,0.7,1.3,-153.3,153.3,5906.4,4436.8,7375.9,90560,4.7,17.2,0.244,119.5,-225,0.00001,5,No,Unknown

In [31]:
import pandas as pd

# Veri çekme
url = "https://nssdc.gsfc.nasa.gov/planetary/factsheet/"
tablo = pd.read_html(url)

# İlk tabloyu seçelim
df = tablo[0]

# DataFrame'i düzenleme
# İlk sütun gezegen isimleri olacak şekilde ayarlıyoruz, sonra diğer sütunları seçiyoruz
df_cleaned = df.set_index(df.columns[0])  # İlk sütun gezegen isimleri
df_cleaned = df_cleaned.loc[:, :'Mean Temperature']  # Mean Temperature'a kadar olan sütunları seçiyoruz

# Sonuçları kontrol etmek için yazdırma
df_cleaned

                                    1        2      3       4      5   \
0
NaN                            MERCURY    VENUS  EARTH    MOON   MARS
Mass (1024kg)                    0.330     4.87   5.97   0.073  0.642
Diameter (km)                     4879    12104  12756    3475   6792
Density (kg/m3)                   5429     5243   5514    3340   3934
Gravity (m/s2)                     3.7      8.9    9.8     1.6    3.7
Escape Velocity (km/s)             4.3     10.4   11.2     2.4    5.0
Rotation Period (hours)         1407.6  -5832.5   23.9   655.7   24.6
Length of Day (hours)           4222.6   2802.0   24.0   708.7   24.7
Distance from Sun (106 km)        57.9    108.2  149.6  0.384*  228.0
Perihelion (106 km)               46.0    107.5  147.1  0.363*  206.7
Aphelion (106 km)                 69.8    108.9  152.1  0.406*  249.3
Orbital Period (days)             88.0    224.7  365.2   27.3*  687.0
Orbital Velocity (km/s)           47.4     35.0   29.8    1.0*   24.1
Orbital Inclination (degrees)      7.0      3.4    0.0     5.1    1.8
Orbital Eccentricity             0.206    0.007  0.017   0.055  0.094
Obliquity to Orbit (degrees)     0.034    177.4   23.4     6.7   25.2
Mean Temperature (C)               167      464     15     -20    -65
Surface Pressure (bars)              0       92      1       0   0.01
Number of Moons                      0        0      1       0      2
Ring System?                        No       No     No      No     No
Global Magnetic Field?             Yes       No    Yes      No     No
NaN                            MERCURY    VENUS  EARTH    MOON   MARS

                                     6         7         8         9        10
0
NaN                             JUPITER    SATURN    URANUS   NEPTUNE    PLUTO
Mass (1024kg)                      1898       568      86.8       102   0.0130
Diameter (km)                    142984    120536     51118     49528     2376
Density (kg/m3)                    1326       687      1270      1638     1850
Gravity (m/s2)                     23.1       9.0       8.7      11.0      0.7
Escape Velocity (km/s)             59.5      35.5      21.3      23.5      1.3
Rotation Period (hours)             9.9      10.7     -17.2      16.1   -153.3
Length of Day (hours)               9.9      10.7      17.2      16.1    153.3
Distance from Sun (106 km)        778.5    1432.0    2867.0    4515.0   5906.4
Perihelion (106 km)               740.6    1357.6    2732.7    4471.1   4436.8
Aphelion (106 km)                 816.4    1506.5    3001.4    4558.9   7375.9
Orbital Period (days)              4331     10747     30589     59800    90560
Orbital Velocity (km/s)            13.1       9.7       6.8       5.4      4.7
Orbital Inclination (degrees)       1.3       2.5       0.8       1.8     17.2
Orbital Eccentricity              0.049     0.052     0.047     0.010    0.244
Obliquity to Orbit (degrees)        3.1      26.7      97.8      28.3    119.5
Mean Temperature (C)               -110      -140      -195      -200     -225
Surface Pressure (bars)        Unknown*  Unknown*  Unknown*  Unknown*  0.00001
Number of Moons                      95       274        28        16        5
Ring System?                        Yes       Yes       Yes       Yes       No
Global Magnetic Field?              Yes       Yes       Yes       Yes  Unknown
NaN                             JUPITER    SATURN    URANUS   NEPTUNE    PLUTO

In [33]:
df_cleaned

,1,2,3,4,5,6,7,8,9,10
0,,,,,,,,,,
NaN,MERCURY,VENUS,EARTH,MOON,MARS,JUPITER,SATURN,URANUS,NEPTUNE,PLUTO
Mass (1024kg),0.330,4.87,5.97,0.073,0.642,1898,568,86.8,102,0.0130
Diameter (km),4879,12104,12756,3475,6792,142984,120536,51118,49528,2376
Density (kg/m3),5429,5243,5514,3340,3934,1326,687,1270,1638,1850
Gravity (m/s2),3.7,8.9,9.8,1.6,3.7,23.1,9.0,8.7,11.0,0.7
Escape Velocity (km/s),4.3,10.4,11.2,2.4,5.0,59.5,35.5,21.3,23.5,1.3
Rotation Period (hours),1407.6,-5832.5,23.9,655.7,24.6,9.9,10.7,-17.2,16.1,-153.3
Length of Day (hours),4222.6,2802.0,24.0,708.7,24.7,9.9,10.7,17.2,16.1,153.3
Distance from Sun (106 km),57.9,108.2,149.6,0.384*,228.0,778.5,1432.0,2867.0,4515.0,5906.4
Perihelion (106 km),46.0,107.5,147.1,0.363*,206.7,740.6,1357.6,2732.7,4471.1,4436.8
Aphelion (106 km),69.8,108.9,152.1,0.406*,249.3,816.4,1506.5,3001.4,4558.9,7375.9
Orbital Period (days),88.0,224.7,365.2,27.3*,687.0,4331,10747,30589,59800,90560
Orbital Velocity (km/s),47.4,35.0,29.8,1.0*,24.1,13.1,9.7,6.8,5.4,4.7
Orbital Inclination (degrees),7.0,3.4,0.0,5.1,1.8,1.3,2.5,0.8,1.8,17.2
Orbital Eccentricity,0.206,0.007,0.017,0.055,0.094,0.049,0.052,0.047,0.010,0.244
Obliquity to Orbit (degrees),0.034,177.4,23.4,6.7,25.2,3.1,26.7,97.8,28.3,119.5
Mean Temperature (C),167,464,15,-20,-65,-110,-140,-195,-200,-225
Surface Pressure (bars),0,92,1,0,0.01,Unknown*,Unknown*,Unknown*,Unknown*,0.00001
Number of Moons,0,0,1,0,2,95,274,28,16,5
Ring System?,No,No,No,No,No,Yes,Yes,Yes,Yes,No
Global Magnetic Field?,Yes,No,Yes,No,No,Yes,Yes,Yes,Yes,Unknown
NaN,MERCURY,VENUS,EARTH,MOON,MARS,JUPITER,SATURN,URANUS,NEPTUNE,PLUTO

In [4]:
df.to_excel("gezegen_verileri.xlsx", index=False)